body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body > * {
    margin: 8px;
}

.horizontal-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightsteelblue;
    padding: 16px 0px 16px 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: lightgray;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
}

.donate-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    margin-bottom: 16px;
}

.donate-container > button {
    border-radius: 32px;
}
